html, body {
    background-color: #6AA;
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
h1 {
    color: navy;
    margin: 5px 5px 5px 15px;
    font-size: 20px;
}
h3 {
    color: navy;
    margin: 5px 5px 5px 45px;
    font-size: 16px;
}

#maincontainer {
    width: 100%;
    height: 100%;
}
#sidebar {
    float: left;
    width:18%;
    height:100%;
    display:inline;
}
#logcontainer {
    overflow:auto;
    height: 600px;
    background-color: #9CC;
    border-style:solid;
    border-width:1px;
    font-size:14px;
}
p.user {
    padding: 0 0 0 0;
    margin: -12px 0 0 10px;
    font-weight: bold;
}
p.message {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

p.optionsHeading {
    text-align:center;
    padding: 0 0 0 0;
    margin: 5px 40px 1px 0;
}
div#brushType {
    float: left;
    width:50%;
    display:inline;
}
div#brushEffect {
    float: right;
    width:50%;
    display:inline;
}

#drawcontainer {
    float: right;
    width:82%;
    height: 100%;
    background-color:#FFFFFF;
    display: inline;
}
#drawcanvas {
    width: 100%;
    height: 100%;
}